$p-x-header: 1rem;
$p-y-header: 0.5rem;
$m-x-header: 0rem;
$m-y-header: 0.5rem;

.favorites_pokemons_section {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 $p-x-header;
}

.favorite_pokemons_list {
  height: 100%;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 100%;
  padding: 0;
  scrollbar-width: thin;
  li {
    display: flex;
    padding: 0.5rem 0.25rem;

    article {
      display: flex;
      align-items: center;
      justify-content: center;
      // min-width: 150px;
      width: 100%;
      height: 100%;
      position: relative;
      // border: 1px solid rgb(230, 230, 230);
      padding: 0 3rem 0 0.85rem;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      background: linear-gradient(135deg, #ffebeb 30%, #ff9bde, #faedff);
      img {
        width: 50px;
        height: 50px;
        margin: -10px;
        margin-bottom: -5px;
      }
      span {
        display: flex;
        flex-direction: column;
        p {
          white-space: nowrap;
          text-shadow: 0 0 5px rgba(251, 255, 33, 0.911), 0 0 10px #fbff10;
          text-transform: capitalize;
        }
        button {
          font-size: 0.75rem;
        }
      }
      i[role="remmove-favorite"] {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        // margin: 0.5rem 0.75rem;
        cursor: pointer;
        &:hover svg {
          fill: rgb(255, 24, 24) !important;
        }
      }
      i[role="open-dialog-details"] {
        position: absolute;
        bottom: 0.25rem;
        right: 0.4rem;
        cursor: pointer;
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Establece el estilo para la barra de desplazamiento */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Establece el estilo para la manija del scrollbar */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Establece el estilo para la manija del scrollbar al pasar el mouse */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
