<div class="favorites_pokemons_section">
  <h2>Mis Pokémon Favoritos</h2>
  <ul
    *ngIf="(favoritePokemons$ | async)?.length; else noPokemon"
    class="favorite_pokemons_list"
  >
    <li *ngFor="let pokemon of favoritePokemons$ | async">
      <article class="card-favorite-pokemon">
        <span>
          <img
            src="{{ pokemon.sprites.front_default }}"
            alt=""
            style="align-self: center"
          />
          <p>{{ pokemon.name }}</p>
        </span>
        <span class="action_buttons">
          <i (click)="onPokemonClicked(pokemon)" role="open-dialog-details">
            <svg
              width="30"
              height="30"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              role="details-button"
            >
              <use href="#info-light-svg"></use>
            </svg>
          </i>
          <i (click)="onRemoveFavorite(pokemon)" role="remmove-favorite">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="#red">
              <use href="#remove-fill-svg"></use>
            </svg>
          </i>
        </span>
      </article>
    </li>
  </ul>

  <ng-template #noPokemon>
    <ul class="favorite_pokemons_list" style="align-items: center">
      <li style="display: flex; align-items: center">
        ¡Agrega a tus pokemones favoritos!
        <svg
          width="30"
          height="30"
          viewBox="0 0 24 24"
          fill="yellow"
          xmlns="http://www.w3.org/2000/svg"
          aria-label="Agregar a favoritos"
        >
          <use href="#start-light-svg"></use>
        </svg>
      </li>
    </ul>
  </ng-template>

  <app-dialog (closeDialog)="closeDialog()"></app-dialog>
</div>
