$p-x-header: 1rem;
$p-y-header: 0.5rem;
$m-x-header: 0rem;
$m-y-header: 0.5rem;

.container {
  min-height: 100vh;
  header {
    min-height: 150px;
    height: 20vh;
    width: 100%;
    margin: $m-y-header $m-x-header;
    padding: $p-x-header 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    // background: radial-gradient(
    //   at -20% 70%,
    //   rgb(179, 247, 240),
    //   rgba(255, 255, 255, 0.285)
    // );
  }
  main {
    display: flex;
    column-gap: 1rem;
    min-height: 80%;
    width: 100%;
    min-height: calc(100vh - 100px - $m-y-header * 2 - $p-y-header * 2);
    section {
      margin: 0.5rem 0;
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
      article {
        padding: 0.75rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    :nth-child(1) {
      width: 100%;
      padding: 0.5rem;
    }
    :nth-child(2) {
      display: grid;
      width: 100%;
      grid-template-rows: repeat(auto-fit, minmax(310px, 1fr));
    }
  }
  padding: 0rem 3vw;
}

@media (max-width: 990px) {
  .container {
    main {
      flex-direction: column;
    }
  }
}

@media (max-width: 560px) {
  // .container {
  //   padding: 0;
  // }
}
