header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details_container {
  // padding: 0.5rem 0;
  padding: 0.5rem 1rem;
}
#details-container {
  scroll-snap-align: start;
}
.details_body_section {
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;

  .image-gallery {
    align-self: center;
  }

  article {
    display: flex;
    flex-direction: column;
    margin: 0.75rem 0;
    strong {
      margin-bottom: 0.35rem;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem 0.5rem;
      padding: 0;
      li {
        display: flex;
        // margin-right: 1rem;
      }
    }
  }
}

.pokemon-stat {
  padding: 0.25rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.image-gallery {
  display: flex;
  width: auto; /* Ancho fijo del section */
  height: 100%;
}

.image-main {
  padding: 0 20px; /* Espacio entre la imagen principal y las miniaturas */
  height: 100%;
}

.image-main img {
  /* Asegura que la imagen principal no se desborde */
  height: auto; /* Mantiene la proporción original de la imagen */
  display: block; /* Elimina el espacio adicional debajo de la imagen */
  border: 1px solid #ddd; /* Agrega un borde alrededor de la imagen */
  height: 100%;
  width: 200px;
}

.thumbnails {
  height: 202px;
  width: 70px; /* Ancho fijo de la sección de miniaturas */
  overflow-x: hidden;
  overflow-y: scroll; /* Agrega una barra de desplazamiento vertical si es necesario */
  padding: 5px;
}

.thumbnails img {
  display: block;
  width: 100%; /* Las miniaturas ocupan todo el ancho del contenedor */
  margin-bottom: 10px; /* Espacio entre miniaturas */
  transform: box-shadow 0.5s;
}
.thumbnails img:hover {
  box-shadow: 0 0 1px #000; /* Agrega un borde alrededor de la imagen */
}

/* Personaliza el estilo de las miniaturas según tus preferencias */
@media (max-width: 630px) {
  .details_body_section {
    flex-direction: column-reverse;
    article {
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          display: flex;
          margin-right: 1rem;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .image-gallery {
    flex-direction: column;
    align-items: center;
    .thumbnails {
      display: flex;
      flex: 1;
      width: 200px;
      overflow-x: scroll;
      overflow-y: hidden;
      contain: content;
      img {
        margin-bottom: 0;
      }
    }
  }
}
