<content>
  <form [formGroup]="formGroup" (ngSubmit)="onSearch()">
    <fieldset>
      <legend>Buscar pokemon</legend>
      <label
        >Nombre: <br />
        <input
          formControlName="searchTerm"
          placeholder="Buscar por nombre"
          (input)="onSearchTermChanged($event)"
        />
        <div *ngIf="showRecommendations" class="autocomplete">
          <p
            *ngFor="let name of matchingPokemonNames"
            (click)="onRecommendationClick(name)"
          >
            {{ name }}
          </p>
        </div>
      </label>
      <button type="submit">Buscar</button>
    </fieldset>
  </form>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <!-- <th>URL</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of pokemons">
        <td>{{ pokemon.name }}</td>
        <!-- <td>{{ pokemon.url }}</td> -->
        <td (click)="onSelectPokemon(pokemon)" class="tooltip">
          <svg
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            role="details-button"
          >
            <use href="#info-light-svg"></use>
          </svg>

          <p class="tooltiptext">VER DETALLES</p>
        </td>
        <td class="tooltip">
          <svg
            #favoriteStar
            width="30"
            height="30"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            aria-label="Agregar a favoritos"
            role="favorite-button"
            (click)="onFavoriteClick(pokemon, favoriteStar)"
            [ngClass]="{ 'favorite-star': pokemon.isFavorite }"
          >
            <use href="#start-light-svg"></use>
          </svg>

          <p class="tooltiptext">AGREGAR FAVORITOS</p>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination_buttons">
    <button
      (click)="onPageChange(currentPage - 1)"
      [disabled]="currentPage === 1"
    >
      Anterior
    </button>
    <span>Página {{ currentPage }} de {{ totalPages }}</span>
    <button
      (click)="onPageChange(currentPage + 1)"
      [disabled]="currentPage === totalPages"
    >
      Siguiente
    </button>
  </div>
</content>
